@model MyBudget.Models.Expense

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń</h1>

<h3>Czy na pewno chcesz usunąć ten wydatek?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateExp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Usuń" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Wróć do listy wydatków</a>
    </form>
</div>
